<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RISE AND SHINE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  </head>
  <body>
<h1>☀️ ABOUT US ☀️</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="help">Help</a></li>
  <!--<li><a href="#"></a></li>-->
  <li><a href="about_us">About Us</a></li>
</ul>
<h2>About the Web App</h2>

<h3>Rise and Shine is a web app that creates morning schedules for busy students. Created by SanfrancisKode scholars Ilana, Danielle, and Emily, this app's inspiration stems from the daily struggle of students to get ready in the morning. Waking up is hard enough, especially after a long night of studying, so even the most menial of daily morning tasks can be such a chore. Creating a schedule for those tasks would be the farthest thing from anyone's mind in such a situation. As students themselves, this daily struggle was all too real for this web app's creators, and with their summer vacation coming to an end, they realized that since the way one's morning goes usually dictates the rest of their day, the most helpful app for students would be a morning schedule creator, and Rise and Shine was born.</h3>
<br>
<br>
<h2>Here is some information about the creators of Rise and Shine!<h2>

<h3>Ilana Rubin</h3>
<table>
  <tr>
    <th></th>
    <td width="50%">Ilana is going to be a sophomore at Miramonte High School in Orinda who loves dachshunds and Harry Styles. In the future, she hopes to work in artificial intelligence one day, and have 2 miniature dapple dachshunds named Pierre and Jacqueline.</td>
  <td width="50%"><img src="images/ilana.jpg" style="width:50%"></td>  </tr>
</table>
<h3>Danielle Yee</h3>
<table>
  <tr>
    <td width="50%">Danielle is going to be a senior at Alameda High School. She spends a lot of her time running for either the XC or track team, but on her free time she likes to draw or spend time with friends and family. Hopefully she will be able to persue a job that involves art and coding in the future!</td>
    <td width="50%"><img src="images/danielle.jpg" style="width:50%"></td>
  </tr>
</table>
<h3>Emily Ongele</h3>
<table>
  <tr>
    <td width="50%">Emily is an 18 year old studying biology at College of the Canyons. She is a becoming college sophemore who is working towards becoming a research biologist, and aspires to someday create, or at least help create a pokedex-like device that identifies organisms on sight.</h2></td>
    <td width="50%"><h2></td>
  </tr>
</table>

<!--  <h2>Here is some information about the creators of Rise and Shine!</h2>-->
<!--<p>Add the border-bottom property to th and td for horizontal dividers:</p>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th>Firstname</th>-->
<!--    <th>Lastname</th>-->
<!--    <th>Savings</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Peter</td>-->
<!--    <td>Griffin</td>-->
<!--    <td>$100</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Lois</td>-->
<!--    <td>Griffin</td>-->
<!--    <td>$150</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Joe</td>-->
<!--    <td>Swanson</td>-->
<!--    <td>$300</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Cleveland</td>-->
<!--    <td>Brown</td>-->
<!--    <td>$250</td>-->
<!--  </tr>-->
<!--</table>-->
  
<!--  </body>-->
<!--</html>-->