<html>
  <head>
    <meta charset="UTF-8">
    <title>RISE AND SHINE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  </head>
  <body>
<h1>☀️ HELP ☀️</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="help">Help</a></li>
  <!--<li><a href="#"></a></li>-->
  <li><a href="about_us">About Us</a></li>
</ul>
<br>
<h2>Creating your schedule is easy! Just fill out the questionnaire on the home page and press the button that says 'GET YOUR SCHEDULE' when you're finished.</h2> 
<br>
  </body>
</html>