<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RISE AND SHINE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <body>
<h1>☀️ RISE AND SHINE ☀️</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="help">Help</a></li>
  <!--<li><a href="#"></a></li>-->
  <li><a href="about_us">About Us</a></li>
</ul>
<h2>Answer the questions below to create your morning schedule!</h2>
  
  <form method=POST>
    <h3>What time does your school start? (Example- 8:00)</h3>
    <input type = "text" name= "school_time">
    <br>  
    <h3>How many minutes early do you want to get to school?(Example- 15) </h3>
    <input type = "text" name= "question_1">
    <br>
    <h3>How many minutes is your commute time to school? (Example- 20) </h3>
    <input type = "text" name= "question_2">
    <br>
    <h3>How long does it take you to get ready in minutes? (Example- 50)</h3>
    <input type = "text" name= "question_3">
    <br>
    <input type="submit" value="GET YOUR SCHEDULE">
    <br>
    
  </form>



  </body>
</html>
