<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RISE AND SHINE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  </head>
  <body>
  <h1>☀️ Rise and Shine ☀️</h1>
  <ul>
  <li><a href="index">Home</a></li>
  <li><a href="help">Help</a></li>
  <!--<li><a href="#"></a></li>-->
  <li><a href="about_us">About Us</a></li>
</ul>
  <h2>Your Schedule:</h2>
  <h3>----------Wake Up and Get Ready--------</h3>
   <h3><%=@question_3_method%></h3>
  <h3>----------Leave Home----------  </h3>
  <h3><%=@question_2_method%></h3>
  <h3>----------School Arrival----------  </h3>
  <h3><%=@question_1_method%></h3>
  </body>
</html>